<div class="col-xs-2">
</div>
<div class="col-xs-8">
    <!--<h3>Project: "{{controller.projectSprints.projectName}}" Sprints</h3>
    <br>-->
    <div class="jumbotron">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Project:</th>
                    <th>{{controller.projectSprints.projectName}}</th>
                </tr>
                <tr>
                    <th>Sprints</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id='table'>
                <tr ng-repeat="sprint in controller.projectSprints.sprints">
                    <td><a ui-sref="sprintRequirements ({id:sprint.id})">{{sprint.sprintName}}</td>
                    <td>{{sprint.status.condition}}</td>
                    <td>{{sprint.duration}}</td>
                    <td><a data-toggle="modal" data-target="#modalDescription" ng-click="controller.preFillSprintForm(sprint.id)">Description</a></td>
                    <td><button class="btn-sm btn-success" data-toggle="modal" data-target="#modalEditAdd" ng-click="controller.preFillSprintForm(sprint.id)">Edit</button></td>
                    <td><button class="btn-sm btn-danger"  data-toggle="modal" data-target="#modalDeleteWarningContainer" ng-click="controller.preFillSprintForm(sprint.id)">Delete</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><button class="btn btn-success" data-toggle="modal" data-target="#modalEditAdd" ng-click="controller.clearForm()" >Add New Sprint</button></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="modalDescription" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <p style="font-size:large"><strong>Sprint description:</strong> {{controller.sprint.description}}</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeleteWarningContainer" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <h4>Are you sure you want to delete? "{{controller.sprint.sprintName}}"</h4>
                <div class="modal-body">
                    <button class="btn btn-danger" ng-click="controller.deleteSprint(controller.sprint.id)" data-dismiss="modal">Continue</button>
                    <a class="btn btn-default" data-dismiss="modal" href="">Cancel</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="modalEditAdd" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                        <h1>Sprint Form</h1>
                        <form id=addForm>

                            <div class="form-group">
                                <label>Product:</label>
                                <select required class="form-control" ng-model="controller.sprint.project.id" ng-options="cat.id as cat.projectName for cat in controller.projects">
                                    <option value="">--Select--</option>
                                </select>   
                            </div>

                            <div class="form-group">
                                <label>Status:</label>
                                <select required class="form-control" ng-model="controller.sprint.status.id" ng-options="cat.id as cat.condition for cat in controller.statuses">
                                    <option value="">--Select--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Sprint:</label>
                                <input placeholder="sprint name" ng-model="controller.sprint.sprintName" required class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Duration:</label>
                                <input placeholder="sprint duration" ng-model="controller.sprint.duration" required class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Description:</label>
                                <input placeholder="description" ng-model="controller.sprint.description" required class="form-control" />
                            </div>

                            <button class="btn btn-success" ng-click="controller.updateSprint()" data-dismiss="modal">Save</button>
                            <a class="btn btn-default" data-dismiss="modal" href="#">Cancel</a>
                        </form> <!--end tag for "addForm"-->

                    </div> <!-- end tag modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div> <!-- end tag modal-content -->
            </div> <!-- end tab modal-dialog -->
        </div> <!-- end tag modalContainer -->
    </div> <!-- end tag container-fuild -->


</div>
<div class="col-xs-2">
</div>